
.page {
  height: 95vh; /* Set the height to 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Add any other styling you need */
}
.outer-box {
  width: 442px;
  background: rgba(170, 170, 170, 0.12);
  backdrop-filter: blur(1px);
  padding: 30px;
}

h2 {
  color: #f2f2f2;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.48px;
  text-align: left;
  line-height: 1.7rem;
}
form {
  margin-top: -31px;
}
label {
  color: #ccc;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  position: relative;
  top: 34px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
}

input {
  border-radius: 4px 4px 4px 4px;
  border-bottom: 3px grey solid;
  background: rgba(255, 255, 255, 0.036);
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(2.5px);
  width: 428px;
  height: 43px;
  padding-left: 10px;
  color: #d3cfcf;
  font-size: 16px;
  letter-spacing: 0.05rem;
}
input:focus-visible {
  outline: none;
}

 .add {
  border-radius: 27px;
  border: 0px solid #290ba3;
  background: #301fa7;
  width: 90px;
  height: 42px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  opacity: 0.8;
}
p {
  color: #ccc;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: -0.3px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.button-container p {
  margin: 0;
}
.back {
  cursor: pointer;
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: -0.3px;
}
.back:hover {
  opacity: 0.8;
}
